@CHARSET "UTF-8";

header#pageHeader {
	background: black;
	color: white;
	border-bottom: 0 none;
	margin: 0;
}

article#pageBody {
	background: gray;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	min-height: 400px;
}

footer#pageFooter {
	background: black;
	height: 60px;
}

article#pageBody aside#loginFrame {
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

article#pageBody aside#registrationFrame {
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

h2#formFrameTitle {
	margin-top: 0;
}

label.labelslogin {
	width: 120px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 2px;
}

input.inputslogin {
	width: 120px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 2px;
}

label.labelsregister {
	width: 150px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 2px;
}

input.inputsregister {
	width: 150px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 2px;
}

label.validationerror {
	width: 300px;
	color: red;
	font-size: 8px;
}